<section>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img class="first-slide" src="./assets/img/el_capitan0.jpg" alt="First slide">
			<div class="container">
				<div class="carousel-caption">
					<div class="h1">Отройте для себя мир гор <small>на всех континентах нашей планеты</small></div>
					<p>Франция, Монлблан, восхождение</p>
					<p><a class="btn  btn-lg btn-primary" href="#" role="button">Читать подробнее</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img class="second-slide" src="./assets/img/matterhorn1.jpg" alt="Second slide">
			<div class="container">
				<div class="carousel-caption">
					<div class="h1">Путешествие н Камчатку<small>"Земля вулканов"</small></div>
					<p> Камчатка, треккинг, восхождения на вулканы</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Читать подробнее</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img class="third-slide"  src="./assets/img/half_dome0.jpg" alt="Third slide">
			<div class="container">
				<div class="carousel-caption">
					<div class="h1">Трек к базовому лагерю Эвереста<small>Вершина Мира</small></div>
					<p>Непал,треккинг, восхождение</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">Читать подробнее</a></p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div><!-- /.carousel -->
</section>

<section class="s-main">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3 ">
				<div class="content">
					<h1>Популярные туры</h1>
					<div class="tills">
						<div class="row">
							<div class="col-sm-6 till_item">
								<a href="#">
									<img src="./assets/img/dombai-19-400x260.jpg" alt="Домбай">
								</a>
								<div class="tour_label">
									<h2><a href="#"> Поход «Теберда и Домбай», Кавказ (Россия)</a></h2>
								</div>
							</div>
							<div class="col-sm-6 till_item">
								<a href="#">
									<img src="./assets/img/kazbek-75-400x260.jpg" alt="Казбек">
								</a>
								<div class="tour_label">
									<h2><a href="#">Восхождение на Казбек со стороны Грузии (5033 м)</a></h2>
								</div>
							</div>
							<div class="col-sm-6 till_item">
								<a href="#">
									<img src="./assets/img/elbrus-6767-400x260.jpg" alt="Эльбрус">
								</a>
								<div class="tour_label">
									<h2><a href="#">Классика — Восхождение на Эльбрус (5642 м) с юга, Кавказ (Россия)</a></h2>
								</div>
							</div>
							<div class="col-sm-6 till_item">
								<a href="#">
									<img src="./assets/img/tours/kipr_polis_de6LnHZLNI-400x260.jpg" alt="Кипр">
								</a>
								<div class="tour_label">
									<h2><a href="#">Поход по Кипру. Треккинг на Пафосе и в горах Троодос.</a></h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bens">
					<div class="row">
						<div class="col-md-3 col-xs-6 ben_item">
							<img src="./assets/img/ben_1.jpg" alt="ben_1">
							<h4>7<span> лет</span></h4>
							<small>работы туроператором</small>
						</div>
						<div class="col-md-3 col-xs-6 ben_item">
							<img src="./assets/img/ben_2.jpg" alt="ben_2">
							<h4>150<span> походов</span></h4>
							<small>ежегодно</small>
						</div>
						<div class="col-md-3 col-xs-6 ben_item">
							<img src="./assets/img/ben_3.jpg" alt="ben_3">
							<h4>100%<span></span></h4>
							<small>продуманные маршруты</small>
						</div>
						<div class="col-md-3 col-xs-6 ben_item">
							<img src="./assets/img/ben_4.jpg" alt="ben_4">
							<h4>CE/UIAA</h4>
							<small>сетрифицированные гиды</small>
						</div>
					</div>
				</div>
				<article>
					<div class="box box_feedbacks">
						<div class="header_feedback">
							<i class="glyphicon glyphicon-hand-right"></i>
							<h2 class="header_title">Отзывы наших клиентов</h2>
						</div>
						<div class="panel panel-default">
							<div class="panel-body">
								<div id="feedbackCarousel" class="carousel slide carousel-fade feedback_carousel" data-ride="carousel">
									<div class="carousel-inner" role="listbox">
										<div class="item active">
											<div class="feedback_carousel_container">
												<h3 class="lead">Восхождение на Демавенд (5670 м), Иран — 7 дней</h3>
												<div class="feedback_article">
													<blockquote class="pull-left">
														<p class="feedback_article">"Восхождение на Демавенд оказалось одним из самых интересных путешествий в моей жизни. Хотелось бы отметить хорошую организацию, грамотный выбор маршрута и хорошую подготовку гидов-инструкторов. Я, как и все участники группы, получил непередаваемые впечатления, которые невозможно уместить в эти строки. Спасибо за это приключение. На мой взгляд, организация была на высшем уровне. В первый раз не знаю, что можно посоветовать или улучшить."</p>
														<small class="text-right">Kубанова Татьяна, август 2016</small>
													</blockquote>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="feedback_carousel_container">
												<h3 class="lead">Поход по зимнему Приэльбрусью, Кавказ (Россия)</h3>
												<div class="feedback_article">
													<blockquote class="pull-left">
														<p class="feedback_article">"На мой взгляд, организация похода осуществлена на высоком уровне: участники похода обеспечены всем необходимым снаряжением; отсутствие проблем с транспортным сообщением; обеспечено комфортное проживание и полноценное, разнообразное питание. Кроме того, грамотно составлен график акклиматизации, что позволило в дальнейшем всем участникам похода осуществить успешное восхождение на г. Эльбрус. Очень понравилось место проведения первой части похода-ущелье Курмычи."</p>
														<small class="text-right">Солоухин Павел, январь 2015</small>
													</blockquote>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="feedback_carousel_container">
												<h3 class="lead">Поход «Красоты Дурмитора» (Черногория)</h3>
												<div class="feedback_article">
													<blockquote class="pull-left">
														<p class="feedback_article">"Поход получился очень насыщенный, впечатления переполняют всех участников. Очень хорошо, что мы жили в кемпинге, так как мы были не готовы к тому, что восхождение на Дурмитор будет экстремальным (по снегу и в метель). Была возможность обсушиться. Маршрут был скорректирован, что нам очень помогло."</p>
														<small class="text-right">Лукиенко Николай, июнь 2015</small>
													</blockquote>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="feedback_carousel_container">
												<h3 class="lead">Горный поход по Приэльбрусью + восхождение на Эльбрус с юга (Кавказ)</h3>
												<div class="feedback_article">
													<blockquote class="pull-left">
														<p class="feedback_article">"Маршрут очень интересный, хотя был и очень сложный. Позволил узнать красоту Приэльбрусья и насладиться величественными горами Центрального Кавказа. Спасибо."</p>
														<small class="text-right">Гусев Егор, август 2014</small>
													</blockquote>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="feedback_carousel_container">
												<h3 class="lead">«Классика» — Восхождение на Эльбрус (5642 м) с юга. Кавказ (Россия)</h3>
												<div class="feedback_article">
													<blockquote class="pull-left">
														<p class="feedback_article">"Бодрый настрой наших гидов, организация страховок при переправах и спусках, разнообразное и сбалансированное меню от шеф-повара."</p>
														<small class="text-right">Альбина, август 2014</small>
													</blockquote>
												</div>
											</div>
										</div>
									</div>
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#feedbackCarousel" data-slide-to="0" class="active"></li>
										<li data-target="#feedbackCarousel" data-slide-to="1"></li>
										<li data-target="#feedbackCarousel" data-slide-to="2"></li>
										<li data-target="#feedbackCarousel" data-slide-to="3"></li>
										<li data-target="#feedbackCarousel" data-slide-to="4"></li>
									</ol>
									<div class="carousel_controls">
										<a class="left carousel-control" href="#feedbackCarousel" role="button" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="right carousel-control" href="#feedbackCarousel" role="button" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>

									
								</div><!-- /.carousel -->
							</div>
						</div>
					</div>
				</article>
			</div>
			
			<div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9 ">
				<aside class="left-side">
					<!--<div class="box">
						<div class="panel panel-default">
							<div class="panel-heading">						
								<div class="form-group">	
								<div class="input-group">
									<input type="text" class="form-control" value="Поиск по сайту">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
									</span>
								</div>
								</div>
							</div>
						</div>
					</div>-->
					<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Ближайшие туры
										<!--<span class="btn btn-default dropdown-toggle">
											<span class="caret"></span>
										</span>-->
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								<div class="list-group">
									<a routerLink="/tours" [queryParams]="{'activity':'спелеология'}" class="list-group-item">	
										<span>Спелео Крым</span>
									</a>
									<a routerLink="/tours" [queryParams]="{'direction':'Франция'}" class="list-group-item">
										<span>Восхождение на Монблан</span>
									</a>
									<a routerLink="/tours" [queryParams]="{'activity':'фото-тур'}" class="list-group-item">
										<span>Фото-тур на Алтай</span>
									</a>
									<a routerLink="/tours" [queryParams]="{'activity':'йога-тур'}" class="list-group-item">
										<span>Йога-тур к Аккемскому озеру</span>
									</a>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
										Активности
										<!--<span class="btn btn-default dropdown-toggle">
											<span class="caret"></span>
										</span>-->
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="list-group">
									<a routerLink="/tours" [queryParams]="{'activity':'альпинизм'}" class="list-group-item">
										<span>Восхождения</span>
									</a>
									<a routerLink="/tours" [queryParams]="{'activity':'поход'}" class="list-group-item">
										<span>Походы</span>
									</a>
									<a routerLink="/tours" [queryParams]="{'activity':'яхтинг'}" class="list-group-item">
										<span>Открытое море</span>
									</a>
									<a routerLink="/tours" [queryParams]="{'activity':'скалолазание'}" class="list-group-item">
										<span>Скалолазные туры</span>
									</a>
									<a routerLink="/tours" [queryParams]="{'activity':'йога-тур'}" class="list-group-item">
										<span>Йога-туры</span>
									</a>
									<a routerLink="/tours" [queryParams]="{'activity':'велопоход'}" class="list-group-item">
										<span>На велосипедах</span>
									</a>
									<a routerLink="/tours" [queryParams]="{'activity':'с детьми'}"class="list-group-item">
										<span>С детьми</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="box box_articles">
						<div class="panel panel-default">
							<div class="panel-body">
								<h4>Интересные статьи</h4>
								<div id="asideCarousel" class="carousel slide carousel-fade aside_carousel" data-ride="carousel">
									<div class="carousel-inner" role="listbox">
										<div class="item active">
											<div class="aside_carousel_container">
												<h4 class="lead">Типы обуви для походов </h4>
												<div class="aside_article">
													<p>Что такое трекинговая обувь? Это специально разработанные кроссовки и ботинки, способные спокойно переносить тяготы разных видов походов.</p>
													<p>Последние делят данный вид снаряжения на четыре типа: 1) Трекинговые кроссовки.Невысокие, имеют специальную эластичную подошву, пружинящую при ходьбе...</p>
												</div>
												<a href="http://extremeguide.ru/blogs/trekingovaya-obuv/" class="more" target="_blank">Читать далее ></a>
											</div>
										</div>
										<div class="item">
											<div class="aside_carousel_container">
												<h4 class="lead">Подготовка к походу</h4>
												<div class="aside_article">
													<p>Независимо от того, организуете вы свой трекинг самостоятельно или сотрудничаете в этом деле с туристической фирмой, нужна грамотная подготовка к походу.</p>
													<p>Если кажется, что все сводится к сбору необходимых вещей и предметов в рюкзак – это заблуждение...</p>
												</div>
												<a href="http://extremeguide.ru/blogs/podgotovka-k-pohodu/" class="more" target="_blank">Читать далее ></a>
											</div>
										</div>
										<div class="item">
											<div class="aside_carousel_container">
												<h4 class="lead">Что взять с собой в горы</h4>
												<div class="aside_article">
													<p>Список того, что взять в поход в горы для зимнего и летнего трекинга отличается только несколькими специфическими для каждого сезона, а также вида похода вещами и предметами.</p>
													<p>Поскольку тема данной статьи носит общий характер, будем отталкиваться от самого сложного – зимних походов...</p>
												</div>
												<a href="http://extremeguide.ru/blogs/chto-vzyat-s-soboy-v-goryi/" class="more" target="_blank">Читать далее ></a>
											</div>
										</div>
									</div>
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#asideCarousel" data-slide-to="0" class="active"></li>
										<li data-target="#asideCarousel" data-slide-to="1"></li>
										<li data-target="#asideCarousel" data-slide-to="2"></li>
									</ol>
									<div class="carousel_controls">
										<a class="left carousel-control" href="#asideCarousel" role="button" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="right carousel-control" href="#asideCarousel" role="button" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>

									
								</div><!-- /.carousel -->
							</div>
						</div>
					</div>
					<div class="box">
						<div class="well">
							<h4>Лицензия</h4>
							<p>ГС-1-99-02-26-0-7715631529-069914-1 <br>
							Мы вступили в МАCТ 26.03.2010 г.</p>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</div>
</section>