<div class="panel panel-default">
	<div class="panel-body">
    <div class="form-group">
      <label class="control-label" for="inputDefault">Имя</label>
      <input type="text" class="form-control" id="inputDefault"  [value]="currentUser.userName">
    </div>
    <div class="form-group">
      <label class="control-label" for="inputDefault">Фамилия</label>
      <input type="text" class="form-control" id="inputDefault" [value]="currentUser.userSurname">
    </div>
    <div class="form-group">
      <label class="control-label" for="inputDefault">Email</label>
      <input type="text" class="form-control" id="inputDefault" [value]="currentUser.email">
    </div>
     <div class="form-group">
      <label class="control-label" for="inputDefault">Пароль</label>
      <input type="text" class="form-control" id="inputDefault" [value]="currentUser.password">
    </div>
    <div class="form-group">
      <label class="control-label" for="inputDefault">ID</label>
      <input type="text" class="form-control" id="inputDefault" [value]="currentUser.id">
    </div>
	</div>
</div>